{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link href="{% static 'css/bootstrap-offcanvas.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
<!--    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">-->
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

    <title>{% block title %}What's Up With Me?{% endblock %}</title>
  </head>

  <body>
    <h1>Hello, world!</h1>

    {% block calendar_block %}
    {% endblock %}
    
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">Project name</a>
	</div>
	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
	  </ul>
	</div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    

    
    <div class="container">
    </div><!-- container -->  
    
    
<!-- LEFT SOME STUFF OUT HERE!!!-->

    <div class="span9">
      {% block body_block %}
      {% endblock %}
    </div>
    
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div class="list-group">
	<a href="#" class="list-group-item active">Friend1</a>
	<a href="#" class="list-group-item">Friend2</a>
	<a href="#" class="list-group-item">Friend3</a>
	<a href="#" class="list-group-item">Friend4</a>
	<a href="#" class="list-group-item">Friend5</a>
	<a href="#" class="list-group-item">Friend6</a>
	<a href="#" class="list-group-item">Friend7</a>
	<a href="#" class="list-group-item">Friend8</a>
	<a href="#" class="list-group-item">Friend9</a>
	<a href="#" class="list-group-item">Friend10</a>
      </div>
    </div><!--/span-->
    
    <hr>
    
    <footer>
      <div class="container">
	<p>&copy; UpDog 2014: What's Up With You?</p>
      </div>
    </footer>
    
    <!--  <script src="http://code.jquery.com/jquery.js"></script> -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/updog-ajax.js' %}"></script>
  </body>
</html>
