{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/updog-ajax.js' %}"></script>

    <link href="{% static 'css/fullcalendar.css' %}" rel="stylesheet">
    <link href="{% static 'css/fullcalendar.print.css' %}" rel="stylesheet" media="print">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.custom.min.js' %}"></script>
    <script src="{% static 'js/fullcalendar.js' %}"></script>

    <title>{% block title %}What's Up With Me?{% endblock %}</title>
  </head>

  <body>
    <script>
      $(document).ready(function() {
      console.log( "ready!" );
  
      if ( $( '.navbar-header' ).is( ':visible' )) {
         $('.navbar-header').on('click', function() {
         console.log("ready2!!!");
         $(".collapse").toggle('in');
         });
      }
    });
    </script>
    
    <br /><br /><br /><br /><br />

    <!-- this places the calendar!!!!! 
    <div id='calendar'></div>-->

    {% block above_calendar_block %}
    {% endblock %}

    {% block calendar_block %}
    {% endblock %}


    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">

<!-- This makes the dropdown menu in the top right
     with Home, About, and Contact -->	
      <div class="navbar-header">
	      <div class="container">   -->
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
	          <!-- these three things make the three lines in
		        the drop down menu (add more, or take away
		        some to make more or fewer lines) -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	        </button>
	      <a class="navbar-brand" href="test">UpDog</a>
	      </div>
	      <div class="collapse navbar-collapse">
	        <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.crossfit.com">Home</a></li>
            <li><a href="http://www.wikipedia.com">About</a></li>
            <li><a href="#contact">Contact</a></li>
	        </ul>
	      </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->
  
    <hr>
    
    <footer>
      <div class="container">
	      <p>&copy; UpDog 2014: What's Up With You?</p>
      </div>
    </footer>

  </body>
</html>
