{% extends 'updog/base.html' %}

{% load static %}

{% block above_calendar_block %}

<div class="hero-unit">
  <br />
  <br />

  <center>
    <h1>What's Up, {{ user.first_name }}?</h1>
  </center>
  <br />
</div>

<script>
  $(document).ready(function() {
    $("#testForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
           type: "POST",
           url: "/calendar/test_ajax/",
           success: function(data) {
              console.log( "ajax worked" );
              alert(data);
           },
        });
     });
  });
</script>

{% endblock %}

{% block calendar_block %}

<script>
function getinfo(name) {
  alert();
}
</script>

<style>
div#scroll-able {
  height: 310px;
  overflow: scroll;
}
</style>


<div>
  <script type="text/javascript">
    $(function() {
      $(".submit").click(function() {
        var name = $("#search").val();

          if (name == '')
        {
          $('.success').fadeOut(200).hide();
          $('.error').fadeOut(200).show();
        }
        else
        {
          $.ajax({
            type: "GET",
            url: "/calendar/find_friends/",
            data: {"search": name,
            },
            success: function(data) {
              mydata = JSON.parse(data);
              if (data.length > 0) {
                var dlength = mydata.length;
                var users = [];
                var isFriend = 0;
                userhtml = "";

                for (var i = 0; i < dlength; i++) {
                  // excludes current friends and self, but not very efficient, could take
                  // a long ass time for a large number of friends and users
                  isFriend = 0;
                  {% if friends_list %}
                    {% for friend in friends_list %}
                      if ('{{ friend }}' === mydata[i].fields.username)
                        isFriend = 1;
                    {% endfor %}
                  {% endif %}

                  if (mydata[i].fields.username != '{{ user.username }}' && isFriend == 0) {
                    users.push(mydata[i].fields.username);
                  }
                };
              }
              if (users.length != 0) {
                for (var i = 0; i < dlength; i++) {
                userhtml = userhtml + '<div><a class="list-group-item"><img src="{% static "img/glyphicons-halflings.png" %}" alt = "profpic" width = "40" height = "40"> ' + users[i] + '<div style="float:right"><button type="button"> add </button></div></a></div>';
                }
              }
                $('.error').fadeOut(200).hide();
                $(".output").html(userhtml);
            }
          });
        }
      return false;
    });
  });
  </script>
</div>


<!-- THIS IS THE CALENDAR!!! -->
<div class="span12">
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-9">
      <div id='calendar'></div>
      <div class="ui-helper-hidden" id="calendar-details" title="Event Details">
        <p>Event details</p>
      </div>
    </div>

    <!-- this is the friends tab -->
    {% if user.is_authenticated %}
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <div id="scroll-able"> 
        <div class="list-group">
          {% if friends_list %}
            <a class="list-group-item active">
              Friends:
            </a>  
            {% for friend in friends_list %}
              <a class="list-group-item" onclick="getevents( '{{ friend }}' )" id="friend_{{ friend }}"> 
               <div><img src="{% static 'img/glyphicons-halflings.png' %}" alt = "profpic" width = "40" height = "40">
               <span class="frand">{{ friend }}</span>
               </div>
              </a>
              <script>

              $( "#friend_{{ friend }}").hover(function on_hover() {

                var obj = '{{ friend }}';
              $.ajax({
              type: "POST",
              url: "/calendar/get_friends_downtimes/",
              data: {'friend': obj},
              success: function(data) {

              var our_data = JSON.parse(data);
              var get_some_events = make_events(our_data, 'orange', obj, true, false);

              if (get_some_events) {
              existing_events = $("#calendar").fullCalendar('clientEvents');
    
              for (var i = 0; i < get_some_events.length; i++) {
                var is_unique = true;
                for (var j = 0; j < existing_events.length; j++) {
                  if (get_some_events[i].id == existing_events[j].id) {
                    is_unique = false;
                  }

                }
                if (is_unique) {
                  $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                  
                }
              }

              }
              },
              });

              }, function off_hover() {
                var obj = '{{ friend }}';
                existing_events = $("#calendar").fullCalendar('clientEvents');
                for (var i = 0; i < existing_events.length; i++) {
                  if (existing_events[i].owner === "hover") {
                    $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
                  }
                }
                $('#calendar').fullCalendar('rerenderEvents');
              });
              /*$( "#friend_{{ friend }}").hover(function on_hover() {
                var obj = '{{ friend }}';
              $.ajax({
              type: "POST",
              url: "/calendar/get_friends_events/",
              data: {'friend': obj},
              success: function(data) {

              var our_data = JSON.parse(data);
              var get_some_events = make_events(our_data, 'red', obj, true, true);
              if (get_some_events) {
    
              existing_events = $("#calendar").fullCalendar('clientEvents');
    
              for (var i = 0; i < get_some_events.length; i++) {
                var is_unique = true;
                for (var j = 0; j < existing_events.length; j++) {
                  if (get_some_events[i].id == existing_events[j].id) {
                    is_unique = false;
                  }

                }
                if (is_unique) {
                  $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                  
                }
              }

              }
              },
              });

              }, function off_hover() {
                var obj = '{{ friend }}';
                existing_events = $("#calendar").fullCalendar('clientEvents');
                for (var i = 0; i < existing_events.length; i++) {
                  if (existing_events[i].owner === "hover") {
                    $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
                  }
                }
                $('#calendar').fullCalendar('rerenderEvents');
              });*/

              </script>
            {% endfor %}
          {% else %}
            <strong>No friends.</strong>
          {% endif %}
        </div>
      </div>
      <!-- this is the searchbar -->
      <div id="scroll-able">
          <div class="list-group">
              <form class="list-group-item list-group-item-info" method="post" name="form">
                Find friends:<input id="search" size="17" name="search" type="text" />
                <input type="submit" value="Search" class="submit"/>
                <span class="error" style="display:none"> Please Enter Valid Data</span>
                <span class="success" style="display:none"></span></a>
              </form>
            <div class="output"></div>
      </div><!--/span-->
    </div>
    {% endif %}
    <br>
  </div>
</div>
      
<script>

function make_events(data, color, owner, hover, is_event) {
      if (data.length > 0) {
        var dlength = data.length;
        var multiple = [];
        // in each loop, we add another event to the list of events for this user
        for (var i = 0; i < dlength; i++) {
          var single = new Object();
          if (is_event) {
            // If event has no activity
            if (! data[i].fields.activity) {
              if (! data[i].fields.location) {
                single.title = "Busy";
              }
              else{
                single.title = "Busy in " + data[i].fields.location;
              }
            }
            // If event has an activity
            else {
              if (! data[i].fields.location) {
                single.title = data[i].fields.activity;
              }
              else{
                single.title = data[i].fields.activity + " in " + data[i].fields.location;
              }
            }
          }
          else { // for downtimes

            if (!data[i].fields.preferred_activity)
              single.title = owner + " is free";
            else single.title = owner + " wants to " + data[i].fields.preferred_activity;
          }

          single.start = data[i].fields.start_time;
          single.end = data[i].fields.end_time;
          single.allDay = false;
          single.id = data[i].pk;
          single.color = color;
          single.owner = owner;
          single.is_event = is_event; // true for events, false for downtimes
          if (is_event) {
            single.editable = true;
          }
          if (owner == "{{username}}") {
            single.editable = true;

          }

          else if (hover) {
            single.owner = "hover";
          }

          multiple.push(single);
        }
      }
      return multiple;
    }
    function getevents(obj) {
      $.ajax({
      type: "POST",
      url: "/calendar/get_friends_downtimes/",
      data: {'friend': obj},
      success: function(data) {

        var our_data = JSON.parse(data);
        var get_some_events = make_events(our_data, 'orange', obj, false, false);
        if (get_some_events) {
  
            existing_events = $("#calendar").fullCalendar('clientEvents');
  
            for (var i = 0; i < get_some_events.length; i++) {
              var is_unique = true;
              for (var j = 0; j < existing_events.length; j++) {
                if (get_some_events[i].id == existing_events[j].id) {
                  if (existing_events[j].owner != "hover") {
                    is_unique = false;
                  }
                  // existing event owner is hover
                  else {
                    $('#calendar').fullCalendar('removeEvents', existing_events[j].id); // remove the one with 'hover' owner
                  }

                }
              }
              if (is_unique) {
                $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                
              }
            }
            var test = document.getElementById('friend_'+obj);  
            test.setAttribute("onclick", "erase_events("+JSON.stringify(obj)+")");

            }
       },
      });

    }
    function erase_events(obj) {
  
      existing_events = $("#calendar").fullCalendar('clientEvents');
      for (var i = 0; i < existing_events.length; i++) {
        if (existing_events[i].owner == obj) {
          $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
        }
      }
      $('#calendar').fullCalendar('rerenderEvents');

      var test = document.getElementById('friend_'+obj);
      test.setAttribute("onclick", "getevents("+JSON.stringify(obj)+")");


    }
    /*
    function getevents(obj) {
      $.ajax({
      type: "POST",
      url: "/calendar/get_friends_events/",
      data: {'friend': obj},
      success: function(data) {

        var our_data = JSON.parse(data);
        var get_some_events = make_events(our_data, 'red', obj, false, true);
        if (get_some_events) {
  
            existing_events = $("#calendar").fullCalendar('clientEvents');
  
            for (var i = 0; i < get_some_events.length; i++) {
              var is_unique = true;
              for (var j = 0; j < existing_events.length; j++) {
                if (get_some_events[i].id == existing_events[j].id) {
                  if (existing_events[j].owner != "hover") {
                    is_unique = false;
                  }
                  // existing event owner is hover
                  else {
                    $('#calendar').fullCalendar('removeEvents', existing_events[j].id); // remove the one with 'hover' owner
                  }

                }
              }
              if (is_unique) {
                $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                
              }
            }
            var test = document.getElementById('friend_'+obj);  
            test.setAttribute("onclick", "erase_events("+JSON.stringify(obj)+")");

                }
       },
      });

    }
    function erase_events(obj) {
  
      existing_events = $("#calendar").fullCalendar('clientEvents');
      for (var i = 0; i < existing_events.length; i++) {
        if (existing_events[i].owner == obj) {
          $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
        }
      }
      $('#calendar').fullCalendar('rerenderEvents');

      var test = document.getElementById('friend_'+obj);
      test.setAttribute("onclick", "getevents("+JSON.stringify(obj)+")");


    }    */
</script>

<div>
  <script>
    // This function converts a Date object, date, into a time of the form: 2:00 PM or 11:00 AM
    function getTime(date) {
      var local_time = date.toLocaleTimeString()
      var lt_length = local_time.length;

      return local_time.substring(0, lt_length - 6) + local_time.substring(lt_length - 3, lt_length)
    } 
    $(document).ready(function() {
      {% autoescape off %}
        var data = {{ events_list }};
        var downtime_data = {{ downtimes }}
      {% endautoescape %}

    var multiple = make_events(data, 'blue', '{{ username }}', false, true);
    var downtimes = make_events(downtime_data, 'green', '{{ username }}', false, false);
    var downtimes_and_events;
    if (multiple) {

      if (downtimes) {

        downtimes_and_events = multiple.concat(downtimes);
      }

      else downtimes_and_events = multiple;
    }

    else if (downtimes) downtimes_and_events = downtimes;

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    // variables for dayClick double clicking capabilities
    var clickTimer;
    var doubleClick;

    var $dialog = $('#calendar-details').dialog({
      autoOpen: false,
      model: true,
      height: 300,
      width: 350
    });

    // this creates a datepicker object below the calendar
    $('#datepicker').datepicker({
        inline: true,
        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#fullcalendar').fullCalendar('gotoDate', d);
        }
    }); 

      $('#calendar').fullCalendar({
      header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek',
      },

      selectable: true,
      selecthelper: true,
      editable: false, // TESTING IT OUT AS FALSE, DONT KILL ME FRANKLYN
      // set the default view to be the agendaWeek view
      defaultView: 'agendaWeek',
      events: downtimes_and_events,
      allDaySlot: false,

      // Use below if you want something to happen after
      // clicking on an existing event in the calendar
      eventClick: function(event, jsEvent, view) {
        console.log(event.color);
        if (event.is_event) {
        $dialog.dialog({title:event.title});

        var edit = document.createElement("input");
        edit.setAttribute('type', "submit");
        edit.setAttribute('value', "Edit Event");
        edit.onclick = function() {

          $dialog.dialog('close');
          $dialog.dialog({title:'Edit Event'});

          // find where the last index of the substring " in " exists.  Assume what
          // comes before is the activity and what comes after is the location.
          var i = 0;

          var activity_text = document.createElement("span");
          activity_text.innerHTML = 'Activity (opt): &nbsp';
          var activity = document.createElement("input");
          activity.setAttribute('type', "text");
          activity.setAttribute('name', "activity");
          activity.setAttribute('id', 'activity_field');

          var location_text = document.createElement("span");
          location_text.innerHTML = '<br/>Location (opt): ';
          var location = document.createElement("input");
          location.setAttribute('type', "text");
          location.setAttribute('name', "location");
          location.setAttribute('id', 'location_field');

          // the following handles what shows up in the fields when you click
          // "edit event" based on the event title
          if (event.title != "Busy") {
            if (event.title.substring(0, 8) != "Busy in ") {
              if (event.title.indexOf(" in ") > -1) {
                while (event.title.substring(i, event.title.length).indexOf(" in ") != -1) {
                    i = i + event.title.substring(i, event.title.length).indexOf(" in ");
                    // increment i by 3 because we look past the found " in "
                    i = i + 3;
                }
                if (i != -1) {
                  activity.setAttribute('value', event.title.substring(0, i - 3));
                }
                else activity.setAttribute('value', event.title);
                if (i != -1) {
                  location.setAttribute('value', event.title.substring(i + 1, event.title.length));
                }
              }
              else activity.setAttribute('value', event.title);
            }
            else {
              location.setAttribute('value', event.title.substring(8, event.title.length));
            }
          }

          // span makes it so there's no newline at the end, while "br" would
          // include the newline
          start_text = document.createElement("span");
          // &nbsp is a non-breaking whitespace character
          start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';

/*
          var startTime = document.createElement("input");
          startTime.id = "txtStartTime";
          startTime.type = "text";
          startTime.className = "timepicker";
          startTime.style.width = "85px";
         // startTime.readonly = "readonly";


          var lblStartTime = document.createElement('label')
          lblStartTime.htmlFor = "txtStartTime";
          lblStartTime.appendChild(document.createTextNode('fromTime'));
*/

          var startDate = document.createElement("input");
          startDate.id = "txtStartDate";
          startDate.type = "text";
          startDate.className = "datepicker";
          startDate.style.width = "85px";
          startDate.readonly = "readonly";

          // January is 0 so we add 1
          var startMonth = event.start.getMonth() + 1;
          if (startMonth < 10) {
            startMonth = '0' + startMonth;
          }
          var startDay = event.start.getDate();
          console.log(event.start);
          if (startDay < 10) {
            startDay = '0' + startDay;
          }
          // when editing an event, the start date is displayed
          startDate.setAttribute('value', startMonth + '/' + startDay + '/' + event.start.getFullYear());
          var lblStartDate = document.createElement('label')
          lblStartDate.htmlFor = "txtStartDate";
          lblStartDate.appendChild(document.createTextNode('fromDate'));

          to_text = document.createElement("span");
          // &nbsp is a non-breaking whitespace character
          to_text.innerHTML = '&nbsp to &nbsp';

          var endDate = document.createElement("input");
          endDate.id = "txtEndDate";
          endDate.type = "text";
          endDate.className = "datepicker";
          endDate.style.width = "85px";
          endDate.readonly = "readonly";

          // January is 0 so we add 1
          var endMonth = event.end.getMonth() + 1;
          if (endMonth < 10) {
            endMonth = '0' + endMonth;
          }
          var endDay = event.end.getDate();
          if (endDay < 10) {
            endDay = '0' + endDay;
          }

          // when editing an event, the end date is displayed
          endDate.setAttribute('value', endMonth + '/' + endDay + '/' + event.end.getFullYear());

          var lblEndDate = document.createElement('label')
          lblEndDate.htmlFor = "txtEndDate";
          lblEndDate.appendChild(document.createTextNode('toDate'));

          // input box
          var start_time = document.createElement("input");
          // you are typing text into the box
          start_time.setAttribute('type', "text");
          // can reference this by using "start_time"
          start_time.setAttribute('name', "start_time");
          start_time.innerHTML = '<input type="text" class="form-control  datepicker" id="datepicker" data-date-format="dd/mm/yyyy" />';

          end_text = document.createElement("span");
          end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
          var end_time = document.createElement("input");
          end_time.setAttribute('type', "test");
          end_time.setAttribute('name', "end_time");

          var newline = document.createElement("span");
          newline.innerHTML = '<br/>';

          $dialog.empty().append(activity_text);
          $dialog.append(activity);
          $dialog.append(start_text);
          $dialog.append(start_time);
          $dialog.append(end_text);
          $dialog.append(end_time);

          $dialog.append(location_text);
          $dialog.append(location);
          $dialog.append(newline);

          $dialog.append(startDate);


          $dialog.append(to_text);
          $dialog.append(endDate);
          $dialog.append(newline);

         //////// $dialog.append(startTime);

          // the options that our datepicker will use
          var datePickerOptions = {
              autoclose: true,
              todayBtn: true,
              todayHighlight: true

              // make this value the selected date so they can't have something start on one day and end on a later day
              //startDate:
          };

          $(startDate).datepicker(datePickerOptions);
          $(endDate).datepicker(datePickerOptions);

/*
          var timePickerOptions = {
            useSelect: true
          };

          console.log(startTime.className);
          $(startTime).pickatime();*/

          var cancel = document.createElement("input");
          cancel.setAttribute('type', "submit");
          cancel.setAttribute('value', "Cancel");

          cancel.onclick = function() {
            $dialog.dialog('close');
          };

          var submit = document.createElement("input");
          submit.setAttribute('type',"submit");
          submit.setAttribute('value', "Submit Change");

          submit.onclick = function() {
            console.log("paoisjdfpoiasjdfpoiajsdpfoiajsdpf");

            $.ajax({
              type: "POST",
              url: "/calendar/edit_event/",
              data: {'activity': $('#activity_field').val(),
              'location': $('#location_field').val(),
              'pk': event.id,
              'start_date': $('#txtStartDate').val(),
              'end_date': $('#txtEndDate').val()
              },
               success: function(data) {
                  // data[0] now holds the event to edit
                  var data = JSON.parse(data);
                  // this flag will be false if the dates are
                  // invalid, in which case the event won't be
                  // added
                  var valid_dates = true;

                  console.log(data[0].fields.start_time);

                  // get the day, month, and year for the start and end dates
                  var start_year = data[0].fields.start_time.substring(0,4);
                  var start_month = data[0].fields.start_time.substring(5,7);
                  var start_day = data[0].fields.start_time.substring(8, 10);
                  var end_year = data[0].fields.end_time.substring(0,4);
                  var end_month = data[0].fields.end_time.substring(5,7);
                  var end_day = data[0].fields.end_time.substring(8, 10);

                  console.log(start_month + "," + start_day + "," + start_year);
                  console.log(end_month + "," + end_day + "," + end_year);

                  if (end_year < start_year) {
                    alert("Your event's start date must occur before its end date.");
                    valid_dates = false;
                  }
                  else if (end_year == start_year) {
                    if (end_month < start_month) {
                      alert("Your event's start date must occur before its end date.");
                      valid_dates = false;
                    }
                    else if (end_month == start_month) {
                      if (end_day < start_day) {
                        alert("Your event's start date must occur before its end date.");
                        valid_dates = false
                      }
                    }
                  }
                  // only edit the event if the dates are valid
                  if (valid_dates) {
                    $('#calendar').fullCalendar('removeEvents', event.id);
                    var edited_event = make_events(data, 'blue', '{{username}}', false, true)[0];

                    $('#calendar').fullCalendar('renderEvent', edited_event, stick = true);
                    $dialog.dialog('close');
                  }
               },
            });
          };

          $dialog.append(cancel);
          $dialog.append(submit);
          $dialog.dialog('open');
        };

        var del = document.createElement("input");
        del.setAttribute('type',"submit");
        del.setAttribute('value', "Delete Event");
        del.onclick = function() {
          // THE COMMENTED LINE BELOW ASKS IF YOU ARE SURE YOU WANT TO DELETE
          // THE EVENT
    //////      if( confirm( "Are you sure you want to delete event " + event.title + " ?")) {
            console.log("Delete Function");
            $.ajax({
              type: "POST",
              url: "/calendar/remove_event/",
              data: {"pk": event.id},
               success: function(data) {
                  console.log( "ajax to remove!!!" );

                  // IF EVENT!!!! IS AN EVENT, IT WILL POPULATE THE CALENDAR IMMEDIATELY
                  /////$('#calendar').fullCalendar('renderEvent', EVENT!!!!)
               },
            })
            $('#calendar').fullCalendar('removeEvents', event.id);
            $('#calendar').fullCalendar('rerenderEvents');
            
            $dialog.dialog('close');
    ///////      }
        };

        $($dialog).empty().append(
          $('<p />').text(event.start.toDateString())
        );
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );
        if (event.location)
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );

        var cancel = document.createElement("input");
        cancel.setAttribute('type', "submit");
        cancel.setAttribute('value', "Cancel");

        cancel.onclick = function() {
          $dialog.dialog('close');
        };

        $dialog.append(cancel);
        $($dialog).append(edit);
        $($dialog).append(del);
        $dialog.dialog('open');
      }
      // edit downtimes
      else if (event.owner == '{{ username }}') {
        
        $dialog.dialog({title:event.title});

        var edit = document.createElement("input");
        edit.setAttribute('type', "submit");
        edit.setAttribute('value', "Edit Downtime");
        edit.onclick = function() {

          $dialog.dialog('close');
          $dialog.dialog({title:'Edit Downtime'});

          var activity_text = document.createElement("span");
          activity_text.innerHTML = 'Preferred Activity (opt): &nbsp';
          var activity = document.createElement("input");
          activity.setAttribute('type', "text");
          activity.setAttribute('name', "activity");
          activity.setAttribute('id', 'activity_field'); 

          if (event.title != "{{username}} is free") {

            var nameLength = "{{username}}".length;
            activity.setAttribute("value", event.title.substring(nameLength + 10, event.title.length));
          }

          // span makes it so there's no newline at the end, while "br" would
          // include the newline
          start_text = document.createElement("span");
          // &nbsp is a non-breaking whitespace character
          start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
          // input box
          var start_time = document.createElement("input");
          // you are typing text into the box
          start_time.setAttribute('type', "text");
          // can reference this by using "start_time"
          start_time.setAttribute('name', "start_time");

          end_text = document.createElement("span");
          end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
          var end_time = document.createElement("input");
          end_time.setAttribute('type', "test");
          end_time.setAttribute('name', "end_time");

          var newline = document.createElement("span");
          newline.innerHTML = '<br/>';

          $dialog.empty().append(activity_text);
          $dialog.append(activity);
          $dialog.append(start_text);
          $dialog.append(start_time);
          $dialog.append(end_text);
          $dialog.append(end_time);
          $dialog.append(newline);

          var cancel = document.createElement("input");
          cancel.setAttribute('type', "submit");
          cancel.setAttribute('value', "Cancel");

          cancel.onclick = function() {
            $dialog.dialog('close');
          };

          var submit = document.createElement("input");
          submit.setAttribute('type',"submit");
          submit.setAttribute('value', "Submit Change");

          submit.onclick = function() {

            $.ajax({
              type: "POST",
              url: "/calendar/edit_downtime/",
              data: {'activity': $('#activity_field').val(),
              'pk': event.id,

              },
               success: function(data) {
                  $('#calendar').fullCalendar('removeEvents', event.id);

                  // data[0] now holds the event to edit
                  var data = JSON.parse(data);

                  var edited_event = make_events(data, 'green', '{{username}}', false, false)[0];

                  $('#calendar').fullCalendar('renderEvent', edited_event, stick = true);
                  $dialog.dialog('close');
               },
            });
          };

          $dialog.append(cancel);
          $dialog.append(submit);
          $dialog.dialog('open');
        };

        var del = document.createElement("input");
        del.setAttribute('type',"submit");
        del.setAttribute('value', "Delete Downtime");
        del.onclick = function() {
          // THE COMMENTED OUT LINE BELOW ASKS IF YOU ARE SURE YOU WANT
          // TO DELETE AN EVENT
        ///////  if( confirm( "Are you sure you want to delete this downtime?")) {
            console.log("Delete Function");
            $.ajax({
              type: "POST",
              url: "/calendar/remove_downtime/",
              data: {"pk": event.id},
               success: function(data) {
                  console.log( "ajax to remove!!!" );

                  // IF EVENT!!!! IS AN EVENT, IT WILL POPULATE THE CALENDAR IMMEDIATELY
                  /////$('#calendar').fullCalendar('renderEvent', EVENT!!!!)
               },
            })
            $('#calendar').fullCalendar('removeEvents', event.id);
            $('#calendar').fullCalendar('rerenderEvents');
            
            $dialog.dialog('close');
   //////       }
        };

        $($dialog).empty().append(
          $('<p />').text(event.start.toDateString())
        );
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );
        if (event.location)
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );

        var cancel = document.createElement("input");
        cancel.setAttribute('type', "submit");
        cancel.setAttribute('value', "Cancel");

        cancel.onclick = function() {
          $dialog.dialog('close');
        };

        $dialog.append(cancel);
        $($dialog).append(edit);
        $($dialog).append(del);
        $dialog.dialog('open');


        }
      },
      eventDrop: function(event,dayDelta,minuteDelta,revertFunc) {

        if (event.is_event) {
          $.ajax({
            type: "POST",
            url: "/calendar/change_event/",
            data: {"pk": event.id, 
                  "day_delta": dayDelta,
                  "minute_delta": minuteDelta,
                  "resize": "false",
                },
          });
        }

        else {

          $.ajax({
            type: "POST",
            url: "/calendar/change_downtime/",
            data: {"pk": event.id, 
                  "day_delta": dayDelta,
                  "minute_delta": minuteDelta,
                  "resize": "false",
                },
          });
        }
      },
      eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

      if (event.is_event) {
        $.ajax({
          type: "POST",
          url: "/calendar/change_event/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "true",
              },
        });
      }

      else {

        $.ajax({
          type: "POST",
          url: "/calendar/change_downtime/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "true",
              },
        });
      }


    },

      select: function(startDate, endDate, allDay, jsEvent, view) {

        if (startDate - endDate == -1800000) return;

        startDateOffset = startDate.getTimezoneOffset();
        startDate = new Date(startDate.getTime() - startDateOffset*60000);

        endDate = new Date(endDate.getTime() - startDateOffset*60000);

        $.ajax({
          type:"POST",
          url: "/calendar/add_downtime/",
          data: {"startDate": startDate.toUTCString(),
                "endDate": endDate.toUTCString(),
                "allDay": allDay,
              },
              success: function(data) {

                console.log(data);
                var displayed_downtime = make_events(JSON.parse(data), 'green', "{{ username }}", false, false);
                for (var i = 0; i < displayed_downtime.length; i++) {

                  $("#calendar").fullCalendar('renderEvent', displayed_downtime[i], stick=true);
                }
              },
        });
      },

      dayClick:function( date, allDay, jsEvent, view ) {
            var singleClick = date.toUTCString();

            // double click
            if(doubleClick==singleClick){
                console.log('Double-click!');
                doubleClick = null;

                $dialog.dialog({title:'Add Event'});

                var activity_text = document.createElement("span");
                activity_text.innerHTML = 'Activity (opt): &nbsp';
                var activity = document.createElement("input");
                activity.setAttribute('type', "text");
                activity.setAttribute('name', "activity");
                activity.setAttribute('id', 'activity_field'); 

                // span makes it so there's no newline at the end, while "br" would
                // include the newline
                start_text = document.createElement("span");
                // &nbsp is a non-breaking whitespace character
                start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
                // input box
                var startTime = document.createElement("input");
                startTime.id = "txtStartTime";
                startTime.type = "text";


                startTime.className = 'input-small';
//                startTime.className = "timepicker";



                // you are typing text into the box
          ///////      startTime.setAttribute('type', "text");
                // can reference this by using "start_time"
          ////////      startTime.setAttribute('name', "start_time");

               // start_time.setAttribute('value', );
                var lblStartTime = document.createElement('label')
                lblStartTime.htmlFor = "txtStartTime";
                lblStartTime.appendChild(document.createTextNode('fromTime'));



                end_text = document.createElement("span");
                end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                var end_time = document.createElement("input");
                end_time.setAttribute('type', "test");
                end_time.setAttribute('name', "end_time");

                var location_text = document.createElement("span");
                location_text.innerHTML = '<br/>Location (opt): ';
                var location = document.createElement("input");
                location.setAttribute('type', "text");
                location.setAttribute('name', "location");
                location.setAttribute('id', 'location_field'); 

                var newline = document.createElement("span");
                newline.innerHTML = '<br/>';

                var startDate = document.createElement("input");
                startDate.id = "txtStartDate";
                startDate.type = "text";
                startDate.className = "datepicker";
                startDate.style.width = "85px";
                startDate.readonly = "readonly";

                // January is 0 so we add 1
                var startMonth = date.getMonth() + 1;
                if (startMonth < 10) {
                  startMonth = '0' + startMonth;
                }
                var startDay = date.getDate();


                console.log(event.title);
                console.log(event.start);
                if (startDay < 10) {
                  startDay = '0' + startDay;
                }
                // when editing an event, the start date is displayed
                startDate.setAttribute('value', startMonth + '/' + startDay + '/' + date.getFullYear());
                var lblStartDate = document.createElement('label')
                lblStartDate.htmlFor = "txtStartDate";
                lblStartDate.appendChild(document.createTextNode('fromDate'));

                to_text = document.createElement("span");
                // &nbsp is a non-breaking whitespace character
                to_text.innerHTML = '&nbsp to &nbsp';

                var endDate = document.createElement("input");
                endDate.id = "txtEndDate";
                endDate.type = "text";
                endDate.className = "datepicker";
                endDate.style.width = "85px";
                endDate.readonly = "readonly";

                // January is 0 so we add 1
              /*  var endMonth = event.end.getMonth() + 1;
                if (endMonth < 10) {
                  endMonth = '0' + endMonth;
                }
                var endDay = event.end.getDate();
                if (endDay < 10) {
                  endDay = '0' + endDay;
                }*/

                // when editing an event, the end date is displayed
                endDate.setAttribute('value', startMonth + '/' + startDay + '/' + date.getFullYear());

                var lblEndDate = document.createElement('label')
                lblEndDate.htmlFor = "txtEndDate";
                lblEndDate.appendChild(document.createTextNode('toDate'));

                $dialog.empty().append(activity_text);
                $dialog.append(activity);
                $dialog.append(start_text);
                //////////$dialog.append(start_time);
                $dialog.append(end_text);
                $dialog.append(end_time);

                $dialog.append(location_text);
                $dialog.append(location);
                $dialog.append(newline);

                $dialog.append(startDate);
                $dialog.append(to_text);
                $dialog.append(endDate);
                $dialog.append(newline);

                $dialog.append(startTime)

                // the options that our datepicker will use
                var datePickerOptions = {
                    autoclose: true,
                    todayBtn: true,
                    todayHighlight: true

                    // make this value the selected date so they can't have something start on one day and end on a later day
                    //startDate:
                };

                $(startTime).timepicker();

                $(startDate).datepicker(datePickerOptions);
                $(endDate).datepicker(datePickerOptions);

               // $dialog.append(datepicker);

                var cancel = document.createElement("input");
                cancel.setAttribute('type', "submit");
                cancel.setAttribute('value', "Cancel");

                cancel.onclick = function() {
                  $dialog.dialog('close');
                };

                var submit = document.createElement("input");
                submit.setAttribute('type',"submit");
                submit.setAttribute('value', "Submit");

                submit.onclick = function() {
                  $.ajax({
                    type: "POST",
                    url: "/calendar/add_event/",
                    data: {'activity': $('#activity_field').val(),
                    'location': $('#location_field').val(),
                    'start_date': $('#txtStartDate').val(),
                    'end_date': $('#txtEndDate').val()
                    },
                    // data is what the server returns
                     success: function(data) {
                        // data[0] now holds the event to add
                        var data = JSON.parse(data);
                        // this flag will be false if the dates are
                        // invalid, in which case the event won't be
                        // added
                        var valid_dates = true;

                        console.log(data[0].fields.start_time);

                        // get the day, month, and year for the start and end dates
                        var start_year = data[0].fields.start_time.substring(0,4);
                        var start_month = data[0].fields.start_time.substring(5,7);
                        var start_day = data[0].fields.start_time.substring(8, 10);
                        var end_year = data[0].fields.end_time.substring(0,4);
                        var end_month = data[0].fields.end_time.substring(5,7);
                        var end_day = data[0].fields.end_time.substring(8, 10);

                        if (end_year < start_year) {
                          alert("Your event's start date must occur before its end date.");
                          valid_dates = false;
                        }
                        else if (end_year == start_year) {
                          if (end_month < start_month) {
                            alert("Your event's start date must occur before its end date.");
                            valid_dates = false;
                          }
                          else if (end_month == start_month) {
                            if (end_day < start_day) {
                              alert("Your event's start date must occur before its end date.");
                              valid_dates = false
                            }
                          }
                        }
                        // only add the event if the dates are valid
                        if (valid_dates) {
                          var added_event = make_events(data, 'blue', '{{username}}', false, true)[0];

                          console.log( "pk1 = " + data[0].pk );
                          console.log( "added_event.id = " + added_event.id)

                          $('#calendar').fullCalendar('renderEvent', added_event, stick = true);
                          $dialog.dialog('close');
                        }
                     },
                  });
                };
                $dialog.append(cancel);
                $dialog.append(submit);
                $dialog.dialog('open');
            }
            // single click
            else{
                doubleClick=date.toUTCString();
                clearInterval(clickTimer);
                clickTimer = setInterval(function(){
                    doubleClick = null;
                    clearInterval(clickTimer);
                }, 500);
            }
        },
    });
});
  </script>

<script>

  $(document).ready(function() {
     /* $(function() {
          $('input.timepicker').timepicker();


          
      });*/
      $('#timepicker3').timepicker({
     //   template: 'dropdown',
     //   modalBackdrop: 'true',
        minuteStep: 5,
        showInputs: true,
        disableFocus: true
      });
  });
</script>

<!--<form>
    <input type="text" class="timepicker" name="time"/>
</form>

<div class="bootstrap-timepicker"/><input id="timepicker" data-template="modal" data-minute-step="1" data-modal-backdrop="true" type="text"/></div>-->

<div class="bootstrap-timepicker pull-right">
            <input id="timepicker3" type="text" class="input-small">
        </div>

</div>

{% endblock %}
