{% extends 'updog/base.html' %}

{% load static %}

{% block above_calendar_block %}

<div class="hero-unit">
  <br />
  <br />

  <center>
    <h1>What's Up, {{ user.first_name }}?</h1>
  </center>
  <br />
</div>

<script>
  $(document).ready(function() {
    $("#testForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
           type: "POST",
           url: "/calendar/test_ajax/",
           success: function(data) {
              console.log( "ajax worked" );
              alert(data);
           },
        });
     });
  });
</script>

{% endblock %}

{% block calendar_block %}

<!-- THIS IS THE CALENDAR!!! -->
<div class="span12">
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-9">
      <div id='calendar'></div>
      <div class="ui-helper-hidden" id="calendar-details" title="Event Details">
        <p>Event details</p>
      </div>
    </div>

    {% if user.is_authenticated %}
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          {% if friends_list %}
            {% for friend in friends_list %}
              <a class="list-group-item" onclick="getinfo( '{{ friend }}' )">
               <div><img src="{% static 'img/glyphicons-halflings.png' %}" alt = "profpic" width = "40" height = "40">
               {{ friend }}
               </div>
              </a>
            {% endfor %}
          {% else %}
            <strong>No friends.</strong>
          {% endif %}
        </div>
      </div><!--/span-->
    {% endif %}
  </div>
</div>

<script>
function getinfo(obj) {
  
}
</script>
      
<div>
  <script>
    // This function converts a Date object, date, into a time of the form: 2:00 PM or 11:00 AM
    function getTime(date) {
      var local_time = date.toLocaleTimeString()
      var lt_length = local_time.length;

      return local_time.substring(0, lt_length - 6) + local_time.substring(lt_length - 3, lt_length)
    } 

    $(document).ready(function() {
      {% autoescape off %}
        var data = {{ events_list }};
      {% endautoescape %}

      if (data.length > 0) {
        var dlength = data.length;
        var multiple = [];
        
        // in each loop, we add another event to the list of events for this user
        for (var i = 0; i < dlength; i++) {
          var single = new Object();
          // If event has no activity
          if (! data[i].fields.activity) {
            if (! data[i].fields.location) {
              single.title = "Busy";
            }
            else{
              single.title = "Busy in " + data[i].fields.location;
            }
          }
          // If event has an activity
          else {
            if (! data[i].fields.location) {
              single.title = data[i].fields.activity;
            }
            else{
              single.title = data[i].fields.activity + " in " + data[i].fields.location;
            }
          }

          single.start = data[i].fields.start_time;
          single.end = data[i].fields.end_time;
          single.allDay = false;
          single.id = data[i].pk;

          multiple.push(single);
        }
      }
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    // variables for dayClick double clicking capabilities
    var clickTimer;
    var doubleClick;

    var $dialog = $('#calendar-details').dialog({
      autoOpen: false,
      model: true,
      height: 300,
      width: 350
    });

    // this creates a datepicker object below the calendar
    $('#datepicker').datepicker({
        inline: true,
        onSelect: function(dateText, inst) {
            var d = new Date(dateText);
            $('#fullcalendar').fullCalendar('gotoDate', d);
        }
    }); 

      $('#calendar').fullCalendar({
      header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay',
      },

      editable: true,
      // set the default view to be the agendaWeek view
      defaultView: 'agendaWeek',
      events: multiple,

      // Use below if you want something to happen after
      // clicking on an existing event in the calendar
      eventClick: function(event, jsEvent, view) {
        console.log(event);



        $dialog.dialog({title:event.title});

        var edit = document.createElement("input");
        edit.setAttribute('type', "submit");
        edit.setAttribute('value', "Edit Event");
        edit.onclick = function() {

          $dialog.dialog('close');
          $dialog.dialog({title:'Edit Event'});

          // find where the last index of the substring " in " exists.  Assume what
          // comes before is the activity and what comes after is the location.
          var i = 0;
          
          while (event.title.substring(i, event.title.length).indexOf(" in ") != -1) {
              i = i + event.title.substring(i, event.title.length).indexOf(" in ");
              // increment i by 3 because we look past the found " in "
              i = i + 3;
          }

          var activity_text = document.createElement("span");
          activity_text.innerHTML = 'Activity (opt): &nbsp';
          var activity = document.createElement("input");
          activity.setAttribute('type', "text");
          activity.setAttribute('name', "activity");
          activity.setAttribute('id', 'activity_field'); 
          if (i != -1) {
            activity.setAttribute('value', event.title.substring(0, i - 3));
          }
          else activity.setAttribute('value', event.title);

          // span makes it so there's no newline at the end, while "br" would
          // include the newline
          start_text = document.createElement("span");
          // &nbsp is a non-breaking whitespace character
          start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
          // input box
          var start_time = document.createElement("input");
          // you are typing text into the box
          start_time.setAttribute('type', "text");
          // can reference this by using "start_time"
          start_time.setAttribute('name', "start_time");

          end_text = document.createElement("span");
          end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
          var end_time = document.createElement("input");
          end_time.setAttribute('type', "test");
          end_time.setAttribute('name', "end_time");

          var location_text = document.createElement("span");
          location_text.innerHTML = '<br/>Location (opt): ';
          var location = document.createElement("input");
          location.setAttribute('type', "text");
          location.setAttribute('name', "location");
          location.setAttribute('id', 'location_field');

          if (i != -1) {
            location.setAttribute('value', event.title.substring(i + 1, event.title.length));
          }

          var newline = document.createElement("span");
          newline.innerHTML = '<br/>';

          $dialog.empty().append(activity_text);
          $dialog.append(activity);
          $dialog.append(start_text);
          $dialog.append(start_time);
          $dialog.append(end_text);
          $dialog.append(end_time);

          $dialog.append(location_text);
          $dialog.append(location);
          $dialog.append(newline);

          var cancel = document.createElement("input");
          cancel.setAttribute('type', "submit");
          cancel.setAttribute('value', "Cancel");

          cancel.onclick = function() {
            $dialog.dialog('close');
          };

          var submit = document.createElement("input");
          submit.setAttribute('type',"submit");
          submit.setAttribute('value', "Submit Change");

          submit.onclick = function() {
            console.log("paoisjdfpoiasjdfpoiajsdpfoiajsdpf");

            $.ajax({
              type: "POST",
              url: "/calendar/edit_event/",
              data: {'activity': $('#activity_field').val(),
              'location': $('#location_field').val(),
              'pk': event.id,
              },
               success: function(data) {
                  $('#calendar').fullCalendar('removeEvents', event.id);

                  // data[0] now holds the event to edit
                  var data = JSON.parse(data);
                  var edited_event = new Object();


                  console.log( "pk2 = " + data[0].pk );

                  // If event has no activity
                  if (! data[0].fields.activity) {
                    if (! data[0].fields.location) {
                      edited_event.title = "Busy";
                    }
                    else{
                      edited_event.title = "Busy in " + data[0].fields.location;
                    }
                  }
                  // If event has an activity
                  else {
                    if (! data[0].fields.location) {
                      edited_event.title = data[0].fields.activity;
                    }
                    else{
                      edited_event.title = data[0].fields.activity + " in " + data[0].fields.location;
                    }
                  }

                  edited_event.start = data[0].fields.start_time;
                  edited_event.end = data[0].fields.end_time;
                  edited_event.allDay = false;
                  edited_event.id = data[0].pk;

                  $('#calendar').fullCalendar('renderEvent', edited_event, stick = true);
                  $dialog.dialog('close');
               },
            });
          };

          $dialog.append(cancel);
          $dialog.append(submit);
          $dialog.dialog('open');
        };

        var del = document.createElement("input");
        del.setAttribute('type',"submit");
        del.setAttribute('value', "Delete Event");
        del.onclick = function() {
          if( confirm( "Are you sure you want to delete event " + event.title + " ?")) {
            console.log("Delete Function");
            $.ajax({
              type: "POST",
              url: "/calendar/remove_event/",
              data: {"pk": event.id},
               success: function(data) {
                  console.log( "ajax to remove!!!" );

                  // IF EVENT!!!! IS AN EVENT, IT WILL POPULATE THE CALENDAR IMMEDIATELY
                  /////$('#calendar').fullCalendar('renderEvent', EVENT!!!!)
               },
            })
            $('#calendar').fullCalendar('removeEvents', event.id);
            $('#calendar').fullCalendar('rerenderEvents');
            
            $dialog.dialog('close');
          }
        };

        $($dialog).empty().append(
          $('<p />').text(event.start.toDateString())
        );
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );
        if (event.location)
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );

        var cancel = document.createElement("input");
        cancel.setAttribute('type', "submit");
        cancel.setAttribute('value', "Cancel");

        cancel.onclick = function() {
          $dialog.dialog('close');
        };

        $dialog.append(cancel);
        $($dialog).append(edit);
        $($dialog).append(del);
        $dialog.dialog('open');
      },
      eventDrop: function(event,dayDelta,minuteDelta,revertFunc) {

        $.ajax({
          type: "POST",
          url: "/calendar/change_event/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "false",
              },
        });
      },
      eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

        $.ajax({
          type: "POST",
          url: "/calendar/change_event/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "true",
              },
        });
      },

      dayClick:function( date, allDay, jsEvent, view ) {
            var singleClick = date.toUTCString();

            // double click
            if(doubleClick==singleClick){
                console.log('Double-click!');
                doubleClick = null;

                $dialog.dialog({title:'Add Event'});

                var activity_text = document.createElement("span");
                activity_text.innerHTML = 'Activity (opt): &nbsp';
                var activity = document.createElement("input");
                activity.setAttribute('type', "text");
                activity.setAttribute('name', "activity");
                activity.setAttribute('id', 'activity_field'); 

                // span makes it so there's no newline at the end, while "br" would
                // include the newline
                start_text = document.createElement("span");
                // &nbsp is a non-breaking whitespace character
                start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
                // input box
                var start_time = document.createElement("input");
                // you are typing text into the box
                start_time.setAttribute('type', "text");
                // can reference this by using "start_time"
                start_time.setAttribute('name', "start_time");
               // start_time.innerHTML = '<p><input type="text" id="datepicker"></p>';



               //$('activity_field').datepicker();

              datepicker = document.createElement("input");
              datepicker.setAttribute('type', 'date');
              datepicker.innerHTML = '<input type="date" name="date" id="date" value=""/>';



              //datepicker.onclick = function() {

                //console.log("HERE!!!!!!")
              //}    

/*
               start_time.onclick = function() {
                  $('#datepicker').datepicker();
                  $('#datepicker').datepicker('show');

                  console.log("starttime")
               };
*/






                end_text = document.createElement("span");
                end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                var end_time = document.createElement("input");
                end_time.setAttribute('type', "test");
                end_time.setAttribute('name', "end_time");

                var location_text = document.createElement("span");
                location_text.innerHTML = '<br/>Location (opt): ';
                var location = document.createElement("input");
                location.setAttribute('type', "text");
                location.setAttribute('name', "location");
                location.setAttribute('id', 'location_field'); 

                var newline = document.createElement("span");
                newline.innerHTML = '<br/>';

                $dialog.empty().append(activity_text);
                $dialog.append(activity);
                $dialog.append(start_text);
                $dialog.append(start_time);
                $dialog.append(end_text);
                $dialog.append(end_time);

                $dialog.append(location_text);
                $dialog.append(location);
                $dialog.append(newline);







                $dialog.append(datepicker);





                var cancel = document.createElement("input");
                cancel.setAttribute('type', "submit");
                cancel.setAttribute('value', "Cancel");

                cancel.onclick = function() {
                  $dialog.dialog('close');
                };

                var submit = document.createElement("input");
                submit.setAttribute('type',"submit");
                submit.setAttribute('value', "Submit");





                submit.onclick = function() {
                  $.ajax({
                    type: "POST",
                    url: "/calendar/add_event/",
                    data: {'activity': $('#activity_field').val(),
                    'location': $('#location_field').val()
                    },
                     success: function(data) {
                        // data[0] now holds the event to add
                        var data = JSON.parse(data);
                        var added_event = new Object();
                        // If event has no activity
                        if (! data[0].fields.activity) {
                          if (! data[0].fields.location) {
                            added_event.title = "Busy";
                          }
                          else{
                            added_event.title = "Busy in " + data[0].fields.location;
                          }
                        }
                        // If event has an activity
                        else {
                          if (! data[0].fields.location) {
                            added_event.title = data[0].fields.activity;
                          }
                          else{
                            added_event.title = data[0].fields.activity + " in " + data[0].fields.location;
                          }
                        }

                        added_event.start = data[0].fields.start_time;
                        added_event.end = data[0].fields.end_time;
                        added_event.allDay = false;
                        added_event.id = data[0].pk;




                        console.log( "pk1 = " + data[0].pk );
                        console.log( "added_event.id = " + added_event.id)



                        $('#calendar').fullCalendar('renderEvent', added_event, stick = true);

                        $dialog.dialog('close');
                     },
                  });
                };
                $dialog.append(cancel);
                $dialog.append(submit);
                $dialog.dialog('open');
            }
            // single click
            else{
                doubleClick=date.toUTCString();
                clearInterval(clickTimer);
                clickTimer = setInterval(function(){
                    doubleClick = null;
                    clearInterval(clickTimer);
                }, 500);
            }
        },
    });
});
  </script>

<script>
  $('#myDate').datepicker();
</script>

</div>
<form action="/calendar/" method="post">{% csrf_token %} 
  {{ form.as_p }}
  <input type="submit" value="Submit!" />
</form>

<!-- datepicker calendar is below the calendar 
<input type="date" name="date" id="date" value="" /> -->

{% endblock %}
