{% extends 'updog/base.html' %}

{% load static %}

{% block above_calendar_block %}

<div class="hero-unit">
  <br />
  <br />

  <center>
    <h1>What's Up, {{ user.first_name }}?</h1>
  </center>
  <br />
</div>

<script>
  $(document).ready(function() {
    $("#testForm").submit(function(event) {
        event.preventDefault();
        $.ajax({
           type: "POST",
           url: "/calendar/test_ajax/",
           success: function(data) {
              console.log( "ajax worked" );
              alert(data);
           },
        });
     });
  });
</script>

{% endblock %}

{% block calendar_block %}

<!-- THIS IS THE CALENDAR!!! -->
<div class="span12">
  <div class="row-fluid">
    <div class="col-xs-6 col-sm-9">
      <div id='calendar'></div>
      <div class="ui-helper-hidden" id="calendar-details" title="Event Details">
        <p>Event details</p>
      </div>
    </div>

    {% if user.is_authenticated %}
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="list-group">
          {% if friends_list %}
            {% for friend in friends_list %}
              <a class="list-group-item" onclick="getevents( '{{ friend }}' )" id="friend_{{ friend }}"> 
               <div><img src="{% static 'img/glyphicons-halflings.png' %}" alt = "profpic" width = "40" height = "40">
               <span class="frand">{{ friend }}</span>
               </div>
              </a>
              <script>
              $( "a").hover(function on_hover() {
                var obj = '{{ friend }}';
              $.ajax({
              type: "POST",
              url: "/calendar/get_friends_events/",
              data: {'friend': obj},
              success: function(data) {

              var our_data = JSON.parse(data);
              var get_some_events = make_events(our_data, 'red', obj, true);
              if (get_some_events) {
    
              existing_events = $("#calendar").fullCalendar('clientEvents');
    
              for (var i = 0; i < get_some_events.length; i++) {
                var is_unique = true;
                for (var j = 0; j < existing_events.length; j++) {
                  if (get_some_events[i].id == existing_events[j].id) {
                    is_unique = false;
                  }
                }
                if (is_unique) {
                  $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                  
                }
              }

              }
              },
              });

              }, function off_hover() {
                var obj = '{{ friend }}';
                existing_events = $("#calendar").fullCalendar('clientEvents');
                for (var i = 0; i < existing_events.length; i++) {
                  if (existing_events[i].owner === "hover") {
                      $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
                  }
                }
                $('#calendar').fullCalendar('rerenderEvents');
              });

              </script>
            {% endfor %}
          {% else %}
            <strong>No friends.</strong>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<script>




function make_events(data, color, owner, hover) {
      if (data.length > 0) {
        var dlength = data.length;
        var multiple = [];
        
        // in each loop, we add another event to the list of events for this user
        for (var i = 0; i < dlength; i++) {
          var single = new Object();
          // If event has no activity
          if (! data[i].fields.activity) {
            if (! data[i].fields.location) {
              single.title = "Busy";
            }
            else{
              single.title = "Busy in " + data[i].fields.location;
            }
          }
          // If event has an activity
          else {
            if (! data[i].fields.location) {
              single.title = data[i].fields.activity;
            }
            else{
              single.title = data[i].fields.activity + " in " + data[i].fields.location;
            }
          }

          single.start = data[i].fields.start_time;
          single.end = data[i].fields.end_time;
          single.allDay = false;
          single.id = data[i].pk;
          single.color = color;
          single.owner = owner;
          if (hover) {
            single.owner = "hover";
          }

          multiple.push(single);
        }
      }
      return multiple;
    }
    
    function getevents(obj) {
      $.ajax({
      type: "POST",
      url: "/calendar/get_friends_events/",
      data: {'friend': obj},
      success: function(data) {

        var our_data = JSON.parse(data);
        var get_some_events = make_events(our_data, 'red', obj, false);
        if (get_some_events) {
  
            existing_events = $("#calendar").fullCalendar('clientEvents');
  
            for (var i = 0; i < get_some_events.length; i++) {
              var is_unique = true;
              for (var j = 0; j < existing_events.length; j++) {
                if (get_some_events[i].id == existing_events[j].id) {
                  if (existing_events[j].owner != "hover") {
                    is_unique = false;
                  }
                  // existing event owner is hover
                  else {
                    $('#calendar').fullCalendar('removeEvents', existing_events[j].id); // remove the one with 'hover' owner
                  }

                }
              }
              if (is_unique) {
                $("#calendar").fullCalendar('renderEvent', get_some_events[i], stick=true);
                
              }
            }
            var test = document.getElementById('friend_'+obj);  
            test.setAttribute("onclick", "erase_events("+JSON.stringify(obj)+")");

                }
       },
      });

    }
    function erase_events(obj) {
  
      existing_events = $("#calendar").fullCalendar('clientEvents');
      for (var i = 0; i < existing_events.length; i++) {
        if (existing_events[i].owner == obj) {
          //if (existing_events[i].temp == false) {
            $('#calendar').fullCalendar('removeEvents', existing_events[i].id);
          //}
        }
      }
      $('#calendar').fullCalendar('rerenderEvents');

      var test = document.getElementById('friend_'+obj);
      test.setAttribute("onclick", "getevents("+JSON.stringify(obj)+")");


    }

    
</script>


      
<div>
  <script>
    // This function converts a Date object, date, into a time of the form: 2:00 PM or 11:00 AM
    function getTime(date) {
      var local_time = date.toLocaleTimeString()
      var lt_length = local_time.length;

      return local_time.substring(0, lt_length - 6) + local_time.substring(lt_length - 3, lt_length)
    } 

    $(document).ready(function() {
      {% autoescape off %}
        var data = {{ events_list }};
      {% endautoescape %}

    var multiple = make_events(data, 'blue', '{{ username }}', false);

    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    // variables for dayClick double clicking capabilities
    var clickTimer;
    var doubleClick;

    var $dialog = $('#calendar-details').dialog({
      autoOpen: false,
      model: true,
      height: 300,
      width: 350
    });

      $('#calendar').fullCalendar({
      header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay',
      },

      editable: true,
      // set the default view to be the agendaWeek view
      defaultView: 'agendaWeek',
      events: multiple,

      // Use below if you want something to happen after
      // clicking on an existing event in the calendar
      eventClick: function(event, jsEvent, view) {
        console.log(event);
        $dialog.dialog({title:event.title});

        var edit = document.createElement("input");
        edit.setAttribute('type', "submit");
        edit.setAttribute('value', "Edit Event");
        edit.onclick = function() {

          $dialog.dialog('close');
          $dialog.dialog({title:'Edit Event'});

          // find where the last index of the substring " in " exists.  Assume what
          // comes before is the activity and what comes after is the location.
          var i = 0;
          
          while (event.title.substring(i, event.title.length).indexOf(" in ") != -1) {
              i = i + event.title.substring(i, event.title.length).indexOf(" in ");
              // increment i by 3 because we look past the found " in "
              i = i + 3;
          }

          var activity_text = document.createElement("span");
          activity_text.innerHTML = 'Activity (opt): &nbsp';
          var activity = document.createElement("input");
          activity.setAttribute('type', "text");
          activity.setAttribute('name', "activity");
          activity.setAttribute('id', 'activity_field'); 
          if (i != -1) {
            activity.setAttribute('value', event.title.substring(0, i - 3));
          }
          else activity.setAttribute('value', event.title);

          // span makes it so there's no newline at the end, while "br" would
          // include the newline
          start_text = document.createElement("span");
          // &nbsp is a non-breaking whitespace character
          start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
          // input box
          var start_time = document.createElement("input");
          // you are typing text into the box
          start_time.setAttribute('type', "text");
          // can reference this by using "start_time"
          start_time.setAttribute('name', "start_time");

          end_text = document.createElement("span");
          end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
          var end_time = document.createElement("input");
          end_time.setAttribute('type', "test");
          end_time.setAttribute('name', "end_time");

          var location_text = document.createElement("span");
          location_text.innerHTML = '<br/>Location (opt): ';
          var location = document.createElement("input");
          location.setAttribute('type', "text");
          location.setAttribute('name', "location");
          location.setAttribute('id', 'location_field');

          if (i != -1) {
            location.setAttribute('value', event.title.substring(i + 1, event.title.length));
          }

          var newline = document.createElement("span");
          newline.innerHTML = '<br/>';

          $dialog.empty().append(activity_text);
          $dialog.append(activity);
          $dialog.append(start_text);
          $dialog.append(start_time);
          $dialog.append(end_text);
          $dialog.append(end_time);

          $dialog.append(location_text);
          $dialog.append(location);
          $dialog.append(newline);

          var cancel = document.createElement("input");
          cancel.setAttribute('type', "submit");
          cancel.setAttribute('value', "Cancel");

          cancel.onclick = function() {
            $dialog.dialog('close');
          };

          var submit = document.createElement("input");
          submit.setAttribute('type',"submit");
          submit.setAttribute('value', "Submit Change");

          submit.onclick = function() {
            console.log("paoisjdfpoiasjdfpoiajsdpfoiajsdpf");

            $.ajax({
              type: "POST",
              url: "/calendar/edit_event/",
              data: {'activity': $('#activity_field').val(),
              'location': $('#location_field').val(),
              'pk': event.id,
              },
               success: function(data) {
                  console.log( "ajax worked123!!!" );

                  // IF EVENT!!!! IS AN EVENT, IT WILL POPULATE THE CALENDAR IMMEDIATELY
                  /////$('#calendar').fullCalendar('renderEvent', EVENT!!!!)
                  $dialog.dialog('close');
               },
            });
          };

          $dialog.append(cancel);
          $dialog.append(submit);
          $dialog.dialog('open');
        };

        var del = document.createElement("input");
        del.setAttribute('type',"submit");
        del.setAttribute('value', "Delete Event");
        del.onclick = function() {
          //
          if( confirm( "Are you sure you want to delete event " + event.title + " ?")) {
            console.log("Delete Function");

            // THESE TWO LINES WILL REMOVE event FROM THE FRONT END,
            // BUT NOT THE BACK END!!!!
            $('#calendar').fullCalendar('removeEvents', event.id);
            $('#calendar').fullCalendar('rerenderEvents');
            
            $dialog.dialog('close');
          }
        };

        $($dialog).empty().append(
          $('<p />').text(event.start.toDateString())
        );
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );
        if (event.location)
        $($dialog).append(
          $('<p />').text(event.allDay ? 'All day event' : getTime(event.start) + '-' + getTime(event.end))
        );

        var cancel = document.createElement("input");
        cancel.setAttribute('type', "submit");
        cancel.setAttribute('value', "Cancel");

        cancel.onclick = function() {
          $dialog.dialog('close');
        };

        $dialog.append(cancel);
        $($dialog).append(edit);
        $($dialog).append(del);
        $dialog.dialog('open');
      },
      eventDrop: function(event,dayDelta,minuteDelta,revertFunc) {

        $.ajax({
          type: "POST",
          url: "/calendar/change_event/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "false",
              },


        });
      },
      eventResize: function(event,dayDelta,minuteDelta,revertFunc) {

        $.ajax({
          type: "POST",
          url: "/calendar/change_event/",
          data: {"pk": event.id, 
                "day_delta": dayDelta,
                "minute_delta": minuteDelta,
                "resize": "true",
              },
        });
      },

      dayClick:function( date, allDay, jsEvent, view ) {
            var singleClick = date.toUTCString();

            // double click
            if(doubleClick==singleClick){
                console.log('Double-click!');
                doubleClick = null;

                $dialog.dialog({title:'Add Event'});

                var activity_text = document.createElement("span");
                activity_text.innerHTML = 'Activity (opt): &nbsp';
                var activity = document.createElement("input");
                activity.setAttribute('type', "text");
                activity.setAttribute('name', "activity");
                activity.setAttribute('id', 'activity_field'); 

                // span makes it so there's no newline at the end, while "br" would
                // include the newline
                start_text = document.createElement("span");
                // &nbsp is a non-breaking whitespace character
                start_text.innerHTML = '<br/>Start Time: &nbsp&nbsp&nbsp&nbsp&nbsp';
                // input box
                var start_time = document.createElement("input");
                // you are typing text into the box
                start_time.setAttribute('type', "text");
                // can reference this by using "start_time"
                start_time.setAttribute('name', "start_time");

                end_text = document.createElement("span");
                end_text.innerHTML = '<br/>End Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp';
                var end_time = document.createElement("input");
                end_time.setAttribute('type', "test");
                end_time.setAttribute('name', "end_time");

                var location_text = document.createElement("span");
                location_text.innerHTML = '<br/>Location (opt): ';
                var location = document.createElement("input");
                location.setAttribute('type', "text");
                location.setAttribute('name', "location");
                location.setAttribute('id', 'location_field'); 

                var newline = document.createElement("span");
                newline.innerHTML = '<br/>';

                $dialog.empty().append(activity_text);
                $dialog.append(activity);
                $dialog.append(start_text);
                $dialog.append(start_time);
                $dialog.append(end_text);
                $dialog.append(end_time);

                $dialog.append(location_text);
                $dialog.append(location);
                $dialog.append(newline);

                var cancel = document.createElement("input");
                cancel.setAttribute('type', "submit");
                cancel.setAttribute('value', "Cancel");

                cancel.onclick = function() {
                  $dialog.dialog('close');
                };

                var submit = document.createElement("input");
                submit.setAttribute('type',"submit");
                submit.setAttribute('value', "Submit");

                submit.onclick = function() {
                  $.ajax({
                    type: "POST",
                    url: "/calendar/add_event/",
                    data: {'activity': $('#activity_field').val(),
                    'location': $('#location_field').val()
                    },
                     success: function(data) {
                        console.log( "ajax worked123!!!" );

                        // IF EVENT!!!! IS AN EVENT, IT WILL POPULATE THE CALENDAR IMMEDIATELY
                        /////$('#calendar').fullCalendar('renderEvent', EVENT!!!!)
                        $dialog.dialog('close');
                     },
                  });
                };
           //     $('#submit').load('/calendar/ #calendar');
                $dialog.append(cancel);
                $dialog.append(submit);
                $dialog.dialog('open');
            }
            // single click
            else{
                doubleClick=date.toUTCString();
                clearInterval(clickTimer);
                clickTimer = setInterval(function(){
                    doubleClick = null;
                    clearInterval(clickTimer);
                }, 500);
            }
        },
    });
});

  </script>

</div>
<form action="/calendar/" method="post">{% csrf_token %} 
  {{ form.as_p }}
  <input type="submit" value="Submit!" />
</form>

{% endblock %}
